.asideInformation {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
}

.asideInformation > div {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
}

.imgCity {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
}

.imgCity img{
  width: 100%;
  border-radius: 20px;
}

.location {
  font-size: 1.6rem;
  font-weight: 500;
  color: #D5D6D9;
}

.geo {
  color: rgba(0, 0, 0, 0.5)
}